In [1]:
import numpy as np
import pandas as pd

# read the data from the downloaded CSV file.
#data = pd.read_csv('../input/winemag-data-130k-v2.csv')

#Create an in-memory SQLite database.
from sqlalchemy import create_engine

engine = create_engine('sqlite://', echo=False)
#data.to_sql('data', con=engine)
#engine.execute("SELECT count(*) FROM data").fetchall()

In [2]:
<a name="title">

Title
<table>
  <tr>
    <th>SQL</th>
    <th>Pandas</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
    </td>
  </tr> 
</table>

SyntaxError: invalid syntax (<ipython-input-2-a585c93efca7>, line 1)

In [12]:
d1 = {
    'col1': [1,2,3,4,5,6], 
    'col2': ['a','b','c','d','e','f'],
    'col3':[5,6,7,8,9,10] 
    }
df1 = pd.DataFrame(data=d1)
#print(df1)

d2 = {
    'col1': [1,2,3,4,5,6,7,8], 
    'col2': ['i','j','k','l','m','n','o','p'],
    'col3':[11,12,13,14,15,16,17,18]
    }
df2 = pd.DataFrame(data=d2)
#df1.to_sql('df1', con=engine)
#df2.to_sql('df2', con=engine)
#print(df2)

In [ ]:
#engine.execute("SELECT df1.col1,df1.col2,df1.col3 FROM df1 inner join df2 on df1.col1 = df2.col1").fetchall()

In [13]:
#pd.merge(df1, df2, left_on='col1', right_on='col1')
#pd.merge(df1, df2, on=['col1','col2'])
#pd.merge(df1, df2, on='col1',suffixes=('_left', '_right'))
#pd.merge(df1[['col1']], df2[['col1','col2']], on='col1',suffixes=('_left', '_right'))
#all columns
pd.merge(df1, df2, on='col1',suffixes=('_left', '_right'))

   col1 col2_left  col3_left col2_right  col3_right
0     1         a          5          i          11
1     2         b          6          j          12
2     3         c          7          k          13
3     4         d          8          l          14
4     5         e          9          m          15
5     6         f         10          n          16

In [19]:
#restrain displayed columns
pd.merge(df1[['col1']], df2[['col1','col3']], on='col1')

   col1  col3
0     1    11
1     2    12
2     3    13
3     4    14
4     5    15
5     6    16

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
 
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])
 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [ ]:
<a name="title">

Title
<table>
  <tr>
    <th>SQL</th>
    <th>Pandas</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
    </td>
  </tr> 
</table>

In [ ]:
<a name="title">

Title
<table>
  <tr>
    <th>SQL</th>
    <th>Pandas</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>
    </td>
  </tr> 
</table>